@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');



@media only screen and (max-width: 640px) {
  body {
    flex-direction: column;
  }
  article {
    padding: 30px 30px;
    width: calc(100vw - 72px)

  }
  .triangle{
    border-left: calc(100vw - 12px) solid transparent;
    border-bottom: calc(20vw - 2px) solid #311D2A;
  }
  header{
    height: 100%;
  }
}

@media only screen and (min-width: 640px) {
  body {
    flex-direction: row;
  }
  article {
    padding: 100px 30px;
    width: calc(100vw - 232px)

  }
  .triangle{
    border-left: calc(100vw - 172px) solid transparent;
    border-bottom: calc(20vw - 14px) solid #311D2A;
  }
  header{
    height: 100%;
  }
}

@media only screen and (min-width: 1000px) {
  body {
    flex-direction: row;
  }
  article {
    padding: 100px 100px;
    width: calc(100vw - 372px)

  }
  .triangle{
    border-left: calc(100vw - 172px) solid transparent;
    border-bottom: calc(20vw - 14px) solid #311D2A;
  }
  header{
    height: 100%;
  }
}

body {
 background-color: #150B1A;
 color: #D2D2BF;
 display: flex;
 margin: 0px;
 padding: 0px;
 font-family: 'Open Sans', sans-serif;
 font-size: 1.2em;
 line-height: 1.6;
}


header {
  min-width: 120px;
  max-width: 120px;
  padding: 20px;
  transform: skewY(-11.31deg);
  margin-top: calc(20vw + 2px)
}

article {
  background-color: #311D2A;
}

h1 h2 h3 h4{
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

.titlecontainer
{position: absolute;
  left: calc(50% + 80px);
  top: 0;
  width: 10%;
  height: calc(20vw - 16px);
  background-color: #d908
}

h1{ 
  position: relative;
  left: -50%;
  top: 70%;
  border: dotted red 1px;
  text-align: center;
  width: 50vh;
  }

.triangle {
  display: relative;
  overflow-x:hidden;
	width: 0;
	height: 0;
}

.navitem
{
  
}

.main
{

}