{% extends "layout.html" %}

{% block head %}
<meta name="description" content="About / contact page for Dries' website.">
<meta name="keywords" content="Dries De Decker, Dries, contact, about, blog">
{% endblock %}

{% block content %}
I'm Dries from Ghent, Belgium. I like creating things. Welcome to my website.
</br></br>
Most of the personal spaces on the web today are hosted on large platforms, but I like the independence and personality of having your own site.
</br></br>
I do have a <a href="https://www.linkedin.com/in/dries-de-decker-764b78160">LinkedIn</a> and <a href="https://github.com/DriesDD">Github</a>. You can also contact me via <a  href="mailto:dries@dries.page">dries@dries.page.</a>
</br>
</br>
In time, I want this site to be the place where I post my art, programming experiments, maybe even some thoughts.</br>Like a blog, but with different types of formats.
</br>Like a portfolio, but mixing in hobby projects and unpolished things with the more professional projects.
</br></br>
Hope to see you back later,
</br></br>
Dries
</br>
</br>

</br>
</br>

{% endblock %}