{% extends "layout.html" %}

{% block head %}
<meta name="description" content="Economic commentary pictures.">
<meta name="keywords" content="economy, memes, pictures, art">
{% endblock %}

{% block content %}
<picture>
<img src="../../static/img/economy/1.png"
    alt="Economy 1 - asteroid. A picture of an enormous asteroid crashing into earth with the text 'Oh no. This will be terrible for the economy.'">
</br>
<img src="../../static/img/economy/2.png"
    alt="Economy 2 - butterfly. A picture of butterflies with the text 'Even after reaching maturity, the butterfly will not consider investing in secure, passively managed mutual funds.'">
</br>
<img src="../../static/img/economy/3.png"
    alt="Economy 3 - eden. A picture of adam, eve and animals in paradise with the text 'With a Gross Domestic Product of €2.43, Eden was a complete disaster.'">
</picture>
{% endblock %}