{% extends "layout.html" %}

{% block head %}
<meta name="description" content="Economic commentary pictures.">
<meta name="keywords" content="economy, memes, pictures, art">
{% endblock %}

{% block content %}
    <a href="../../static/img/economy/1.png"> <img style="display:none" src="../../static/img/economy/ld/1.png"><img src="../../static/img/economy/1.png" alt="Economy 1 - asteroid. A picture of an enormous asteroid crashing into earth with the text 'Oh no. This will be terrible for the economy.'" style="background-image: url('../../static/img/economy/ld/1.png')"></img></a>
</br>
    <a href="../../static/img/economy/2.png"> <img style="display:none" src="../../static/img/economy/ld/2.png"><img src="../../static/img/economy/2.png" loading="lazy" alt="Economy 2 - butterfly. A picture of butterflies with the text 'Even after reaching maturity, the butterfly will not consider investing in secure, passively managed mutual funds.'" style="background-image: url('../../static/img/economy/ld/2.png')"></img></a>
</br>
    <a href="../../static/img/economy/3.png"> <img style="display:none" src="../../static/img/economy/ld/3.png"><img src="../../static/img/economy/3.png" loading="lazy" alt="Economy 3 - eden. A picture of adam, eve and animals in paradise with the text 'With a Gross Domestic Product of €2.43, Eden was a complete disaster.'" style="background-image: url('../../static/img/economy/ld/3.png')"></img></a>
</br>

<p>Note: Images are from the public domain, I just added text. And feel free to share and modify them and not credit me, as long as you don't appropriate them (GNU GPL 3.0 license).</p>

{% endblock %}