{% extends "layout.html" %}

{% block summary %}
Summary of home
{% endblock %}

{% block content %}
I'm Dries. I like creating things. Welcome to my website.
</br></br>
Most of the personal spaces on the web today are hosted on large platforms, but I like the independence and personality of having your own site.
</br></br>
If it looks a bit bare bones, that is because I recently made it.</br>
In time, I want this to be the place where I post my art, programming experiments, maybe even some thoughts.</br>Like a blog, but with different types of formats.
</br>Like a portfolio, but mixing in hobby projects and unpolished things with the more professional projects.
</br></br>
Hope to see you back later,
</br></br>
Dries
{% endblock %}