{% extends "layout.html" %}

{% block summary %}
Summary of home
{% endblock %}

{% block content %}
I'm Dries. I like creating things. Welcome to my website.
</br></br>
If it looks a bit bare bones, that is because I recently made it.</br>
In time, I want this to be the place where I post my art, programming experiments, maybe even some thoughts.</br>Like a blog, but with different types of formats.
</br>Like a portfolio, but mixing in hobby projects and unpolished things.
</br></br>
A small independent space in a vast web.
{% endblock %}