{% extends "layout.html" %}

{% block head %}
<meta name="description" content="Making hexagonal olive oil soap bars">
<meta name="keywords" content="soap, olive oil, cold process, honeycomb soap, hexagons, beehive, bee soap, soapmaking">
{% endblock %}

{% block content %}

<p>My roommate and I made these soap bars.</p>
<a href="../../static/img/soap/r0.png"> <img alt="soap bars" style="display:none" src="../../static/img/soap/ld/r0.png"><img style="width:100%;height:600px;background-color: gray; background-image: url('../../static/img/soap/r0.png'),url('../../static/img/soap/ld/r0.png');background-size: cover, cover"></img></a>

<a href="../../static/img/soap/r1.png"> <img alt="soap bars" style="display:none" src="../../static/img/soap/ld/r1.png"><img style="width:100%;height:600px;background-color: gray; background-image: url('../../static/img/soap/r1.png'),url('../../static/img/soap/ld/r1.png');background-size: cover, cover"></img></a>

</br>
<p>Soapmaking is a rewarding hobby because you can personalize the recipe and mold to make a unique and useful product. We used what's called 'the cold process' of making soap.</p>
<p>The oil is 80% olive and 20% coconut oil. We thought of making traditional Marseille soap which is made from 100% olive oil, but added some coconut for extra strength and lather. For aromas, we used a lot of citrus peel oil and lavender etheric oil. We also dried and powdered mandarin peels and added them to the mix. The olive oil creates a nice yellow-greenish base color, but we did mix in inert mineral dyes like iron oxide, French ochre and ultramarine.</p>
<p>Having spent a lot on ingredients already, I was looking for a cheap hexagonal mold. One day I literally stumbled upon it on a bike path, in the form of a plastic gravel stabilizer plate which can be found in construction stores. For added honeycomb structure we put the mold on top of bubble wrap.</p>

    <a href="../../static/img/soap/p0.png"> <img alt="pictures from the soapmaking process" style="display:none" src="../../static/img/soap/ld/p0.png"><img style="width:100%;height:600px;background-color: gray; background-image: url('../../static/img/soap/p0.png'),url('../../static/img/soap/ld/p0.png');background-size: cover, cover"></img></a>

    <a href="../../static/img/soap/p1.png"> <img alt="pictures from the soapmaking process" style="display:none" src="../../static/img/soap/ld/p1.png"><img style="width:100%;height:600px;background-color: gray; background-image: url('../../static/img/soap/p1.png'),url('../../static/img/soap/ld/p1.png');background-size: cover, cover"></img></a>
    
    <a href="../../static/img/soap/p2.png"> <img alt="pictures from the soapmaking process" style="display:none" src="../../static/img/soap/ld/p2.png"><img style="width:100%;height:600px;background-color: gray; background-image: url('../../static/img/soap/p2.png'),url('../../static/img/soap/ld/p2.png');background-size: cover, cover"></img></a>

    <a href="../../static/img/soap/p3.png"> <img alt="pictures from the soapmaking process" style="display:none" src="../../static/img/soap/ld/p3.png"><img style="width:100%;height:600px;background-color: gray; background-image: url('../../static/img/soap/p3.png'),url('../../static/img/soap/ld/p3.png');background-size: cover, cover"></img></a>

    <a href="../../static/img/soap/p4.png"> <img alt="pictures from the soapmaking process" style="display:none" src="../../static/img/soap/ld/p4.png"><img style="width:100%;height:600px;background-color: gray; background-image: url('../../static/img/soap/p4.png'),url('../../static/img/soap/ld/p4.png');background-size: cover, cover"></img></a>

    <a href="../../static/img/soap/p5.png"> <img alt="pictures from the soapmaking process" style="display:none" src="../../static/img/soap/ld/p5.png"><img style="width:100%;height:600px;background-color: gray; background-image: url('../../static/img/soap/p5.png'),url('../../static/img/soap/ld/p5.png');background-size: cover, cover"></img></a>

    <a href="../../static/img/soap/p6.png"> <img alt="pictures from the soapmaking process" style="display:none" src="../../static/img/soap/ld/p6.png"><img style="width:100%;height:600px;background-color: gray; background-image: url('../../static/img/soap/p6.png'),url('../../static/img/soap/ld/p6.png');background-size: cover, cover"></img></a>

    <a href="../../static/img/soap/p7.png"> <img alt="pictures from the soapmaking process" style="display:none" src="../../static/img/soap/ld/p7.png"><img style="width:100%;height:600px;background-color: gray; background-image: url('../../static/img/soap/p7.png'),url('../../static/img/soap/ld/p7.png');background-size: cover, cover"></img></a>

    <a href="../../static/img/soap/p8.png"> <img alt="pictures from the soapmaking process" style="display:none" src="../../static/img/soap/ld/p8.png"><img style="width:100%;height:600px;background-color: gray; background-image: url('../../static/img/soap/p8.png'),url('../../static/img/soap/ld/p8.png');background-size: cover, cover"></img></a>

    <a href="../../static/img/soap/p9.png"> <img alt="pictures from the soapmaking process" style="display:none" src="../../static/img/soap/ld/p9.png"><img style="width:100%;height:600px;background-color: gray; background-image: url('../../static/img/soap/p9.png'),url('../../static/img/soap/ld/p9.png');background-size: cover, cover"></img></a>

    <a href="../../static/img/soap/p10.png"> <img alt="pictures from the soapmaking process" style="display:none" src="../../static/img/soap/ld/p10.png"><img style="width:100%;height:600px;background-color: gray; background-image: url('../../static/img/soap/p10.png'),url('../../static/img/soap/ld/p10.png');background-size: cover, cover"></img></a>
    

{% endblock %}