{% extends "layout.html" %}

{% block head %}
<meta name="description" content="Making hexagonal olive oil soap bars">
<meta name="keywords" content="soap, olive oil, cold process, honeycomb soap, hexagons, beehive, bee soap, soapmaking">
{% endblock %}

{% block content %}

<p>My roommate and I made these soap bars.</p>

<a href="../../static/img/soap/r0.png"> <img style="display:none" src="../../static/img/soap/ld/r0.png"><img src="../../static/img/soap/r0.png" alt="soap bars" style="background-image: url('../../static/img/soap/ld/r0.png')"></img></a>

<a href="../../static/img/soap/r1.png"> <img style="display:none" src="../../static/img/soap/ld/r1.png"><img src="../../static/img/soap/r1.png" alt="soap bars" style="background-image: url('../../static/img/soap/ld/r1.png')"></img></a>

</br>
<p>Soapmaking is a rewarding hobby because you can personalize the recipe and mold to make a unique and useful product. We used what's called 'the cold process' of making soap.</p>
<p>The oil is 80% olive and 20% coconut oil. We thought of making traditional Marseille soap which is made from 100% olive oil, but added some coconut for extra strength and lather. For aromas, we used a lot of citrus peel oil and lavender etheric oil. We also dried and powdered mandarin peels and added them to the mix. The olive oil creates a nice yellow-greenish base color, but we did mix in inert mineral dyes like iron oxide, French ochre and ultramarine.</p>
<p>Having spent a lot on ingredients already, I was looking for a cheap hexagonal mold. One day I literally stumbled upon it on a bike path, in the form of a plastic gravel stabilizer plate which can be found in construction stores. For added honeycomb structure we put the mold on top of bubble wrap.</p>

<a href="../../static/img/soap/p0.png"> <img style="display:none" src="../../static/img/soap/ld/p0.png"><img src="../../static/img/soap/p0.png" loading="lazy" alt="pictures from the soapmaking process" style="background-image: url('../../static/img/soap/ld/p0.png')"></img></a>

<a href="../../static/img/soap/p1.png"> <img style="display:none" src="../../static/img/soap/ld/p1.png"><img src="../../static/img/soap/p1.png" loading="lazy" alt="pictures from the soapmaking process" style="background-image: url('../../static/img/soap/ld/p1.png')"></img></a>
    
<a href="../../static/img/soap/p2.png"> <img style="display:none" src="../../static/img/soap/ld/p2.png"><img src="../../static/img/soap/p2.png" loading="lazy" alt="pictures from the soapmaking process" style="background-image: url('../../static/img/soap/ld/p2.png')"></img></a>

<a href="../../static/img/soap/p3.png"> <img style="display:none" src="../../static/img/soap/ld/p3.png"><img src="../../static/img/soap/p3.png" loading="lazy" alt="pictures from the soapmaking process" style="background-image: url('../../static/img/soap/ld/p3.png')"></img></a>

<a href="../../static/img/soap/p4.png"> <img style="display:none" src="../../static/img/soap/ld/p4.png"><img src="../../static/img/soap/p4.png" loading="lazy" alt="pictures from the soapmaking process" style="background-image: url('../../static/img/soap/ld/p4.png')"></img></a>

<a href="../../static/img/soap/p5.png"> <img style="display:none" src="../../static/img/soap/ld/p5.png"><img src="../../static/img/soap/p5.png" loading="lazy" alt="pictures from the soapmaking process" style="background-image: url('../../static/img/soap/ld/p5.png')"></img></a>

<a href="../../static/img/soap/p6.png"> <img style="display:none" src="../../static/img/soap/ld/p6.png"><img src="../../static/img/soap/p6.png" loading="lazy" alt="pictures from the soapmaking process" style="background-image: url('../../static/img/soap/ld/p6.png')"></img></a>

<a href="../../static/img/soap/p7.png"> <img style="display:none" src="../../static/img/soap/ld/p7.png"><img src="../../static/img/soap/p7.png" loading="lazy" alt="pictures from the soapmaking process" style="background-image: url('../../static/img/soap/ld/p7.png')"></img></a>

<a href="../../static/img/soap/p8.png"> <img style="display:none" src="../../static/img/soap/ld/p8.png"><img src="../../static/img/soap/p8.png" loading="lazy" alt="pictures from the soapmaking process" style="background-image: url('../../static/img/soap/ld/p8.png')"></img></a>

<a href="../../static/img/soap/p9.png"> <img style="display:none" src="../../static/img/soap/ld/p9.png"><img src="../../static/img/soap/p9.png" loading="lazy" alt="pictures from the soapmaking process" style="background-image: url('../../static/img/soap/ld/p9.png')"></img></a>

<a href="../../static/img/soap/p10.png"> <img style="display:none" src="../../static/img/soap/ld/p10.png"><img src="../../static/img/soap/p10.png" loading="lazy" alt="pictures from the soapmaking process" style="background-image: url('../../static/img/soap/ld/p10.png')"></img></a>
    
{% endblock %}