{% extends "layout.html" %}

{% block head %}
<meta name="description" content="Writing on drawings.">
<meta name="keywords" content="text on images, pictures, art">
{% endblock %}

{% block content %}

<p>Switch the push and pull signs on a busy door. Spray the words 'Trump 2032' on a bridge across a busy highway. Record a conversation of your friends, grab an old comic book, now replace all the text in the text balloons with the things your friends said. Write 'manager' on your forehead with a sharpie.</p>

<p>What I am trying to get at is that putting words on things is overpowered. The sum of text and image is more than its parts. People cannot help themselves from reading what they see and it will change their perception of what they are looking at. Advertisers, politicians, comic artists and meme creators are most aware of this. They are trying to find that combination of image and text that tickles some crevice in your brain. When I make a drawing, I want it to impact the viewer. Maybe I like having some control over the impact on the viewer - and maybe that goes at the cost of something else. Words on your drawings are powertools, barely more tasteful than using glitter and glossy magazine cutouts. But that's why they are fun. Sometimes the drawings become cartoons but not always. And now words on drawings have become a habit.</p>

    <a href="../../static/img/words/1.png"> <img style="display:none" src="../../static/img/words/ld/1.png"><img src="../../static/img/words/1.png" alt="Will you please stop exploding?" style="background-image: url('../../static/img/words/ld/1.png')"></img></a>
</br>
    <a href="../../static/img/words/2.png"> <img style="display:none" src="../../static/img/words/ld/2.png"><img src="../../static/img/words/2.png" loading="lazy" alt="Purque los elefantes tienes snutas elongatas? An 'educational' illustration in a romance language." style="background-image: url('../../static/img/words/ld/2.png')"></img></a>
</br>
    <a href="../../static/img/words/3.png"> <img style="display:none" src="../../static/img/words/ld/3.png"><img src="../../static/img/words/3.png" loading="lazy" alt="What part of GOOD VIBES ONLY do you not understand?" style="background-image: url('../../static/img/words/ld/3.png')"></img></a>
</br>
    <a href="../../static/img/words/4.png"> <img style="display:none" src="../../static/img/words/ld/4.png"><img src="../../static/img/words/4.png" loading="lazy" alt="The earth worm in its natural habitat" style="background-image: url('../../static/img/words/ld/4.png')"></img></a>
</br>

{% endblock %}