<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{title}}</title>
    <meta name="author" content="Dries De Decker">
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="../static/tailwind/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400|Quicksand:wght@500;700|Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        ::-moz-selection, ::selection {
          color: white;
          background: {{color}};
        }
      </style>
</head>

<body class="bg-gray-900">

    <div class="overviews grid grid-cols-5 md:grid-cols-10 sm:gap-4 min-h-16 sm:my-4">
        <a href="/home"
            class="col-span-2 break-words whitespace-nowrap text-2xl text-center font-display font-bold p-2 text-red-400 bg-red-800 hover:bg-red-600  focus:bg-red-100">
            dries.page
        </a>

        <div class="current overview invisible bg-gray-400">
            Blank
        </div>

        <div class="current overview invisible ">
        </div>

        <div class="current overview invisible">
            
        </div>

        <div class=" invisible current overview bg-gray-400">
            /games
        </div>

        <a href="/reads"
        class=" current overview break-words whitespace-nowrap text-2xl text-center font-display font-bold p-2 text-green-400 bg-green-800 hover:bg-green-600 focus:bg-green-100">
            /reads
        </a>

        <a href="/art" 
          class="current overview break-words whitespace-nowrap text-2xl text-center font-display font-bold p-2 text-pink-400 bg-pink-800 hover:bg-pink-600  focus:bg-pink-100">
            /art
        </a>

        <a href="/webdev" 
        class="current overview break-words whitespace-nowrap text-2xl text-center font-display font-bold p-2 text-blue-400 bg-blue-800 hover:bg-blue-600 focus:bg-{blue-100">
            /webdev
        </a>

        <a href="/about" 
        class="next overview break-words whitespace-nowrap text-2xl text-center font-display font-bold p-2 text-gray-400 bg-gray-700 hover:bg-gray-600 focus:bg-gray-100">
            /contact
        </a>
    </div>

    <div class="text-lg py-4 px-4 sm:px-16 md:py-8 md:px-20 lg:px-48 bg-{{color}}-50 min-h-screen h-full">

        <h1 class="text-{{color}}-800 font-display font-bold text-4xl sm:py-6 lg: py-10">{{title}}</h1>
        {% block content %}
        {% endblock %}

    </div>

</body>

</html>